.styled-table {
    border-collapse: collapse;
    margin: 25px 25px 25px 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* //estilo para el div del datatable que aparece muy pegado a la parte de arriba */
.dataTables_wrapper   .dataTables_filter{
    padding: 1rem;
}

.btn-crear-empleados{
    background:#7dd3fc;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:4px;
	padding:6px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 1.5px 0px #373c3c;
    border-radius: 0.25rem;
}

.btn-crear-deptos{
    background:#7dd3fc;
	color:#fff;
	display:inline-block;
	font-size:1em;
	margin:4px;
	padding:6px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 1.5px 0px #373c3c;
    border-radius: 0.25rem;
}

/* // estilo para div que se encuentra en admin.empleados.create */
.maxW3xl{
    max-width: 768px;
}

.nohover:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #565e64;
}


/* .nohover{
    pointer-events: none;
} */

/* #btnCrearEmpleados{
    pointer-events: none;
} */
